.contacts {
  &__content {
    @include page-grid;
  }

  &__form {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 16px;

    margin-bottom: 48px;

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 24px;

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__input {
    height: 48px;
  }

  &__textarea {
    resize: none;
    height: 148px;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;

    background-color: $bc-secondary;

    &:hover {
      border: 1px solid $border-hover;
      color: $main-text-color;
    }

    &:focus {
      border-color: $main-text-color;
      color: $main-text-color;
      outline: none;
    }
  }

  &__button {
    @include primary-buttons;
  }

  &__label {
    margin: 0 0 8px;
    font-size: 14px;
    color: $secondary-text-color;

    &:hover {
      color: $secondary-text-color;
    }
  }

  &__link {
    line-height: 140%;
    color: $main-text-color;
    text-decoration: none;

    &:hover {
      color: $secondary-text-color;
    }
  }
}
