$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$secondary-text-color: #9393A3;
$bc-menu: #E5E6E8;
$bc-secondary: #F8F8FA;
$border-hover: #D5D7DE;
